@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Montserrat";
    src: url("../../public/fonts/Montserrat-Regular.woff2");

}
@font-face {
    font-family: "Montserrat-Extrabold";
    src: url("../../public/fonts/Montserrat-ExtraBold.otf");

}
@font-face {
    font-family: "Montserrat-Bold";
    src: url("../../public/fonts/Montserrat-Bold.otf");

}